# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Data files
data/raw/*
data/processed/*

# Power BI temporary/backup files
*.pbit
*.bak